*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("../img/about-us.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}
#navber {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0%;
    /* border: 2px solid brown;*/
}
#navber::before {
    content: "";
    background-color: black;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.9;
    top: 0%;
    left: 0%;
}
  /* logo */
.logo img {
    height: 80px;
    width: 80px;
    /*  border: 2px solid yellow;*/
    margin-left: 60px;
}
  /* li*/
#navber ul {
    display: flex;
    padding-left: 30px;
    margin-left: 80px;
    /* border: 2px solid green;*/
}
#navber ul li {
    list-style-type: none;
    padding: 0px 10px;
    font-size: 1.3rem;
}
#navber ul li a {
    text-decoration: none;
    padding: 0px 20px;
    color: aliceblue;
    font-family: "Bree Serif", serif;
}
#navber .items a:hover {
    background-color: azure;
    color: black;
    border-radius: 10px;
}
#navber .btn1 {
    width: fit-content;
    border-radius: 16px;
    padding: 5px 0px;
    background-color: rgb(122, 82, 160);
    border: none;
}
h1{
    color: rgb(230, 240, 240);
    background-color: rgba(42, 42, 42, 0.850);
    text-align: center;
    padding: 10px;
    font-size: 50px;
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
}
h1:hover{
    color: rgb(0, 187, 255);
    cursor: pointer;
    transition: all 2s;
}
h2{
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h3{
    font-size: 25px;
}
p{
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container img:hover{
    box-shadow: 10px 10px 10px black;
    transition: all 0.7s ease-in-out;
}
.fst{
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    margin: 20px 0px;
    padding: 10px;
    border: 2px solid midnightblue;
    background-color:rgba(25, 25, 112, 0.700);
    border-left-style: none;
    border-right-style: none;
}
.fst h2{
    color: darkorange;
}
.fstimg img{
    border-radius: 10px;
    margin: 15px 25px 15px 15px;
    height: 300px;
    width: 300px;
}
.snd{
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    margin: 20px 0px;
    padding: 10px;
    border: 2px solid indigo;
    background-color: rgba(76, 0, 130, 0.700);
    border-left-style: none;
    border-right-style: none;
}
.snd h2{
    color: rgb(0, 229, 255);
}
.sndimg img{
    border-radius: 10px;
    margin: 15px 25px 15px 15px;
    height: 300px;
    width: 300px;
}
.trd{
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    margin: 20px 0px;
    padding: 10px;
    border: 2px solid seagreen;
    background-color:rgba(112, 128, 144, 0.700);
    border-left-style: none;
    border-right-style: none;
}
.trd h2{
    color: brown;
}
.trdimg img{
    border-radius: 10px;
    margin: 15px 25px 15px 15px;
    height: 300px;
    width: 300px;
}
.frth{
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    margin: 20px 0px;
    padding: 10px;
    border: 2px solid teal;
    background-color: rgba(0, 128, 128, 0.750);
    border-left-style: none;
    border-right-style: none;
}
.frth h2{
    color: indigo;
}
.frthimg img{
    border-radius: 10px;
    margin: 15px 25px 15px 15px;
    height: 300px;
    width: 300px;
}
.footer-basic {
    padding: 10px 0;
    background-color: #312e2e;
    color: #ffffff;
  }
  .list-inline{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
  }
  
  .footer-basic ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
  }
  
  .footer-basic li {
    padding: 0 10px;
  }
  
  .footer-basic ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
  }
  
  .footer-basic ul a:hover {
    opacity: 1;
  }
  
  .footer-basic .social {
    text-align: center;
    padding-bottom: 5px;
    color: white;
  }
  
  .footer-basic .social > a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin: 0 8px;
    color: inherit;
    opacity: 0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity: 0.9;
  }
  
  .footer-basic .copyright {
    margin-top: 5px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
    margin-bottom: 0;
  }
@media (max-width: 968px) {
    /* nav ber */
    #navber {
      flex-direction: column;
    }
    #navber ul li a {
      padding: 0px 10px;
    }
    #navber ul li {
      padding: 0px 1px;
    }
    #navber ul {
      margin-left: 10px;
      padding-left: 00px;
      /* border: 2px solid green;*/
    }
  }
