*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("../img/service-back.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}
#navber {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0%;
    /* border: 2px solid brown;*/
}
#navber::before {
    content: "";
    background-color: black;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.9;
    top: 0%;
    left: 0%;
}
  /* logo */
.logo img {
    height: 80px;
    width: 80px;
    /*  border: 2px solid yellow;*/
    margin-left: 60px;
}
  /* li*/
#navber ul {
    display: flex;
    padding-left: 30px;
    margin-left: 80px;
    /* border: 2px solid green;*/
}
#navber ul li {
    list-style-type: none;
    padding: 0px 10px;
    font-size: 1.3rem;
}
#navber ul li a {
    text-decoration: none;
    padding: 0px 20px;
    color: aliceblue;
    font-family: "Bree Serif", serif;
}
#navber .items a:hover {
    background-color: azure;
    color: black;
    border-radius: 10px;
}
#navber .btn1 {
    width: fit-content;
    border-radius: 16px;
    padding: 5px 0px;
    background-color: rgb(122, 82, 160);
    border: none;
}
h1{
    color: white;
    font-size: 50px;
    font-style: italic;
    background-color: rgba(0, 0, 0, 0.750);
    text-align: center;
    padding: 10px;
}
h1:hover{
    color: rgb(0, 187, 255);
    cursor: pointer;
    transition: all 2s;
}
h2{
    color: white;
    font-size: 35px;
    padding: 5px 30px 5px 30px;
    font-family:'Times New Roman', Times, serif;
}
img{
    height: 240px;
    width: 340px;
    border-radius: 10px;
}
.top{
    min-height: 70vh;
    align-items: center;
    background-color:rgba(112, 128, 144, 0.700);
    padding-top: 10px;
}
.top h2{
    color: black;
    background-color: rgba(255, 255, 255, 0.750);
}
.equip{
    display: flex;
    justify-content: space-around;
}
.box1{
    background-color: lightgray;
    margin: 20px;
    padding: 10px;
    box-shadow: 5px 5px 5px black;
    height: min-content;
    width: min-content;
}
.box1:hover{
    box-shadow: 20px 20px 20px black;
    transition: all 0.7s;
}
.top-mid{
    min-height: 70vh;
    align-items: center;
    background-color:rgba(0, 191, 255, 0.600);
    border-top: 2px solid black;
    padding-top: 10px;
}
.top-mid h2{
    color:rgba(255, 255, 0, 0.900);
    background-color:rgba(148, 0, 211, 0.750);
}
.lift{
    display: flex;
    justify-content: space-around;
}
.box2{
    background-color: lightgray;
    margin: 20px;
    padding: 10px;
    box-shadow: 5px 5px 5px black;
    height: min-content;
    width: min-content;
}
.box2:hover{
    box-shadow: 20px 20px 20px black;
    transition: all 0.7s;
}
.mid{
    min-height: 70vh;
    align-items: center;
    background-color: rgba(76, 0, 130, 0.700);
    padding-top: 10px;
    border-top: 2px solid black;
}
.mid h2{
    background-color: rgba(0, 0, 0, 0.600);
}
.group{
    display: flex;
    justify-content: space-around;
}
.box3{
    background-color: lightgray;
    margin: 20px;
    padding: 10px;
    box-shadow: 5px 5px 5px black;
    height: min-content;
    width: min-content;
}
.box3:hover{
    box-shadow: 20px 20px 20px black;
    transition: all 0.7s;
}
.bot-mid{
    min-height: 70vh;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.600);
    border-top: 2px solid black;
    padding-top: 10px;
}
.bot-mid h2{
    color: indigo;
    background-color: rgba(0, 139, 139, 0.750);
}
.pers{
    display: flex;
    justify-content: space-around;
}
.box4{
    background-color: lightgray;
    margin: 20px;
    padding: 10px;
    box-shadow: 5px 5px 5px black;
    height: min-content;
    width: min-content;
}
.box4:hover{
    box-shadow: 20px 20px 20px black;
    transition: all 0.7s;
}
.bot{
    min-height: 70vh;
    align-items: center;
    background-color:rgba(46, 139, 86, 0.700);
    border-top: 2px solid black;
    padding-top: 10px;
    border-bottom: 2px solid black;
}
.bot h2{
    color: coral;
    background-color: rgba(47, 79, 79, 0.800);
}
.heal{
    display: flex;
    justify-content: space-around;
}
.box5{
    background-color: lightgray;
    margin: 20px;
    padding: 10px;
    box-shadow: 5px 5px 5px black;
    height: min-content;
    width: min-content;
}
.box5:hover{
    box-shadow: 20px 20px 20px black;
    transition: all 0.7s;
}
.footer-basic {
    padding: 10px 0;
    background-color: #312e2e;
    color: #ffffff;
  }
  .list-inline{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
  }
  
  .footer-basic ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
  }
  
  .footer-basic li {
    padding: 0 10px;
  }
  
  .footer-basic ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
  }
  
  .footer-basic ul a:hover {
    opacity: 1;
  }
  
  .footer-basic .social {
    text-align: center;
    padding-bottom: 5px;
    color: white;
  }
  
  .footer-basic .social > a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin: 0 8px;
    color: inherit;
    opacity: 0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity: 0.9;
  }
  
  .footer-basic .copyright {
    margin-top: 5px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
    margin-bottom: 0;
  }
@media (max-width: 968px) {
    /* nav ber */
    #navber {
      flex-direction: column;
    }
    #navber ul li a {
      padding: 0px 10px;
    }
    #navber ul li {
      padding: 0px 1px;
    }
    #navber ul {
      margin-left: 10px;
      padding-left: 00px;
      /* border: 2px solid green;*/
    }
  }
