@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");
* {
  padding: 0px;
  margin: 0px;
  font-family: "Bree Serif", serif;

  color: white;
  /*overflow: hidden;*/
}

.all {
  display: flex;
  flex-direction: row;
}
/* navber*/

#navber {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0%;

  /* border: 2px solid brown;*/
}
#navber::before {
  content: "";
  background-color: black;
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: -1;
  opacity: 0.9;
  top: 0%;
  left: 0%;
}

/* logo */
.logo img {
  height: 80px;
  width: 80px;
  /*  border: 2px solid yellow;*/
  margin-left: 60px;
  
}

/* li*/
#navber ul {
  display: flex;
  padding-left: 30px;
  margin-left: 80px;
  /* border: 2px solid green;*/
}
#navber ul li {
  list-style-type: none;
  padding: 0px 10px;
  font-size: 1.3rem;
}
#navber ul li a {
  text-decoration: none;
  padding: 0px 20px;
  color: aliceblue;
  font-family: "Bree Serif", serif;
}

#navber .items a:hover {
  background-color: azure;
  color: black;
  border-radius: 10px;
}

#navber .btn1 {
  width: fit-content;
  border-radius: 16px;
  padding: 5px 0px;
  background-color: rgb(122, 82, 160);
  border: none;
}
/*INDEX PAGE*/

#home {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* border: 2px solid red;*/
  justify-content: center;
  height: 100vh;
  margin: 0px;
}
#home::before {
  content: "";
  background: url("../img/Home\ Page\ 2.png") no-repeat center center/cover;
  position: absolute;
  height: 620px;
  width: 100%;
  z-index: -1;
  opacity: 1.3;
}
#home h1 {
  font-family: "Bree Serif", serif;
  padding: 10px;
  font-size: 2.3rem;
  font-weight: bold;
  color: aliceblue;
  text-align: center;
}

#home p {
  font-family: "Bree Serif", serif;
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-size: 1.2rem;
  max-width: 60%;
  color: blanchedalmond;
  text-align: center;
}
.button1 {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

#home .b1 a {
  color: black;
}

#home .b2 {
  background-color: rgb(155, 12, 12);
  color: white;
}

#home a {
  text-decoration: none;
  font-size: large;
  font-weight: bold;
}
/*
#home a{
    text-decoration: none;
    background-color: white;
    color: red;
}


/* footer*/
.footer-basic {
  padding: 10px 0;
  background-color: #312e2e;
  color: #113a62;
}
.list-inline{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 5px;
  color: white;
}

.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social > a:hover {
  opacity: 0.9;
}

.footer-basic .copyright {
  margin-top: 5px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}
/*button*/
.btn1 {
  border: 2px solid red;
  width: 95%;
  display: block;
  text-align: center;
  font-size: medium;
  font-weight: bold;
  background-color: red;
  border-radius: 5px;
  padding: 2px;
  cursor: pointer;
  transition: all 0.3s;
}
.btn1:hover {
  background-color: rgb(212, 96, 96);
}


.btn3 {
  width: auto;
  margin: 5px;

  border-radius: 20px;
  border: none;
  font-size: larger;
  font-weight: 500;
  cursor: pointer;
  padding: 10px 15px;
  transition: all 0.3s;
}

/*media query*/

@media (max-width: 968px) {
  
  
  
  /* nav ber */
  #navber {
    flex-direction: column;
  }
  #navber ul li a {
    padding: 0px 10px;
  }
  #navber ul li {
    padding: 0px 1px;
  }
  #navber ul {
    margin-left: 10px;
    padding-left: 00px;
    /* border: 2px solid green;*/
  }
}
